Connected Services/ServiceReference1/GameVisualizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listajugadores">
        <s:complexType />
      </s:element>
      <s:element name="listajugadoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listajugadoresResult" type="tns:ArrayOfPlayer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPlayer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Player">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="skin" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listajugadoresSoapIn">
    <wsdl:part name="parameters" element="tns:listajugadores" />
  </wsdl:message>
  <wsdl:message name="listajugadoresSoapOut">
    <wsdl:part name="parameters" element="tns:listajugadoresResponse" />
  </wsdl:message>
  <wsdl:portType name="GameVisualizationServiceSoap">
    <wsdl:operation name="listajugadores">
      <wsdl:input message="tns:listajugadoresSoapIn" />
      <wsdl:output message="tns:listajugadoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GameVisualizationServiceSoap" type="tns:GameVisualizationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listajugadores">
      <soap:operation soapAction="http://tempuri.org/listajugadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GameVisualizationServiceSoap12" type="tns:GameVisualizationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listajugadores">
      <soap12:operation soapAction="http://tempuri.org/listajugadores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameVisualizationService">
    <wsdl:port name="GameVisualizationServiceSoap" binding="tns:GameVisualizationServiceSoap">
      <soap:address location="http://localhost:60228/GameVisualizationService.asmx" />
    </wsdl:port>
    <wsdl:port name="GameVisualizationServiceSoap12" binding="tns:GameVisualizationServiceSoap12">
      <soap12:address location="http://localhost:60228/GameVisualizationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>